
@import url('../typography.css');
@import url('swiper/css');
@import url('swiper/css/navigation');
@import url('swiper/css/pagination');
@import url('swiper/css/zoom');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Related products slider style */
.swiper-pagination-bullet-active{
background-color: #E73C17!important;
}

/* Products details images slider style */
.swiper-slide-thumb-active{
    border-color: #E73C17;
}
.swiper-button-next, .swiper-button-prev{
width: 20px;
height: 20px;
background-color:#E73C17;
}

.swiper-button-prev {
    position: absolute;
    bottom: 50%;
    top: auto;
    margin-bottom: -20px;
}
.swiper-button-next {
    position: absolute;
    bottom: 50%;
    top: auto;
    margin-bottom: -20px;
}

.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px;
    color: white;
}

